
body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
  background-color:rgba(189, 189, 189, 0.1);
}
.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 370px;
    }
    .footer {
      height: 380px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;

}

footer a {
  color: #999;
  text-decoration:none;

}

footer a:hover, footer a:focus {
  color: rgb(60, 98, 172);
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}


footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

/* homepage */

div .homepage{
    padding: 50px;
    justify-content: center;
    text-align: center;
}

